{% extends 'layout.html' %}

{% block titre %}
    add website
{% endblock %}

{% block body %}
	<h1 class="text-center">add website</h1>

	<div class="container text-center">
		<form action="" method="POST">
			<div class="form-group">
            	<input class="form-control" placeholder="Write your website url" type="text" name="url" id="url" />
        	</div>

            <button type="submit" class="btn btn-success">Submit</button>
    	</form>

    	{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}

	</div>
{% endblock %}