<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/milligram.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Website monitor - 
    	{% block titre %}{% endblock %}
	</title>
</head>

<header>
	<ul>
		<li><a href="#">link</a></li>
		<li><a href="#">link</a></li>
		<li><a href="#">link</a></li>
	</ul>
</header>

<body>
    {% block body %}{% endblock %}
</body>
</html>